# Python
__pycache__/
*.py[cod]
*.egg-info/
.env/
.venv/
*.sqlite3

# Streamlit cache
.streamlit/

# Pyenv environments (if accidentally inside project)
.python-version

# Data
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx

!data/cornbelt_counties.shp
!data/cornbelt_counties.shx
!data/cornbelt_counties.dbf
!data/cornbelt_counties.prj
!data/ndvi_sample.csv


# Mac stuff
.DS_Store